{% extends 'main.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}


<div class="relative isolate overflow-hidden bg-black">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
  </svg>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">

      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Let's find your developers</h1>

            <div class="mt-14 gap-x-2 flex justify-start md:justify-center sm:flex-row">
                <button  type="submit"
                         class="rounded-md bg-indigo-500 px-3
                         text-sm font-semibold text-white shadow-sm
                          hover:bg-indigo-400 focus-visible:outline
                          focus-visible:outline-2
                          focus-visible:outline-offset-2
                          focus-visible:outline-indigo-400">submit</button>
      <form class="mt-6 sm:flex sm:max-w-md lg:mt-0">
        <input type="email" name="email-address" id="email-address" autocomplete="email"
               required class="w-64 min-w-0 appearance-none rounded-md border-0
               bg-black px-3 py-1.5 text-base text-white shadow-sm ring-1 ring-inset
               ring-white/10 placeholder:text-gray-500 focus:ring-2 focus:ring-inset
               focus:ring-indigo-500 sm:w-64 sm:text-sm sm:leading-6" placeholder="Enter your working  email">
      </form>

    </div>


    </div>
    <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-14">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img src="{% static 'images/image (3).png' %}" alt="App screenshot" width="700" height="700" class="w-12 rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
{#          w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10"#}
      </div>
    </div>
  </div>
</div>




{% endblock content %}