    <fieldset class="mt-4 text-white">
    <legend class="text-base font-semibold text-white">{{ widget.attrs.legend }}</legend>
{% for group, options, index in widget.optgroups %}

    {% for option in options %}
       <div class="container flex flex-col justify-center px-12 mx-auto sm:py-4 lg:py-4 lg:flex-row lg:justify-between">
           <div class="space-y-4">
      <div class="flex items-center">
            <input type="radio" id="{{ option.id_for_label }}" name="{{ widget.name }}" value="{{ option.value }}" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" {% if option.selected %}checked{% endif %} {% include "django/forms/widgets/attrs.html" %}>
            <label for="{{ option.id_for_label }}" class="ml-3 block text-sm font-medium leading-6 text-white">
                {{ option.label }}
            </label>
        </div>
               </div>

       </div>

    {% endfor %}

{% endfor %}
      </fieldset>
{#<fieldset>#}
{#    <legend class="text-lg font-bold mb-4">Choose an Option</legend>#}
{#    {% for group, options, index in widget.optgroups %}#}
{#        {% for option in options %}#}
{#            <div class="inline-block mr-4">#}
{#                <input type="radio" id="{{ option.id_for_label }}" name="{{ widget.name }}" value="{{ option.value }}" class="hidden peer" {% if option.selected %}checked{% endif %} {% include "django/forms/widgets/attrs.html" %}>#}
{#                <label for="{{ option.id_for_label }}" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 rounded-full cursor-pointer text-gray-700 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent">#}
{#                    {{ option.label }}#}
{#                </label>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#</fieldset>#}