{% extends 'main.html' %}



{% block content %}
<main class="grid min-h-full place-items-center bg-black px-6 py-24 sm:py-48 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">Thank You!!!</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">You will hire an
          experienced developer <br>in <span class="underline decoration-sky-500">two</span> days</h1>
    <p class="mt-6 text-base leading-7 text-white">We will send an email to schedule an online meeting with our developers</p>
    <div class="mt-10 flex items-center justify-center ">
      <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>
{#      <a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>#}
    </div>
  </div>
</main>

{% endblock %}